*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#d8d409,#f0eea1 50%,  #d8d409);
}

main{
    height: 100vh;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

p{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.autor{
    font-size: 1.5rem;
    font-style: italic;
}